.hover_image {
	transition: filter .4s ease-in-out;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
.hover_image:hover {
	filter: grayscale(0%);
}